.calendar-horizontal {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    max-width: 600px;
    margin: -40px auto 20px auto;
    position: relative;
    z-index: 100;
    overflow: visible;
    flex-wrap: wrap;
}

.day-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-bg);
    padding: 25px 15px;
    border-radius: 50px;
    min-width: 30px;
    border: 1px solid var(--border-color);
    margin-top: -20px;
    filter: drop-shadow();
    flex-shrink: 0;
}

.day-item span {
    color: var(--text-color);
}

.day-item.active {
    background-color: var(--primary-red);
    border-color: var(--primary-red);
}

.day-item.active span {
    color: #ffffff !important;
}

@media (max-width: 768px) {
    .calendar-horizontal {
        max-width: 100%;
        padding: 15px;
        margin: -20px auto 15px auto;
        z-index: 100;
    }

    .day-item {
        padding: 20px 12px;
        min-width: 25px;
    }
}

@media (max-width: 480px) {
    .calendar-horizontal {
        max-width: 100%;
        padding: 10px auto 10px auto;
        z-index: 100 margin: -20px auto 10px auto;
    }

    .day-item {
        padding: 15px 10px;
        min-width: 22px;
        font-size: 0.85rem;
    }
}