.main-header {
    height: auto;
    min-height: 300px;
    background: var(--header-gradient);
    padding: 30px 20px;
    position: relative;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-message {
    color: #ffffff !important;
    /* Sempre branco no vermelho */
    font-size: 2rem;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    text-align: center;
}

.team-name {
    justify-content: right;
    display: flex;
    color: #ffffff !important;
    opacity: 0.8;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;

}

.personal-silhouette {
    position: absolute;
    bottom: 0;
    right: 10px;
    height: 90%;
}

.personal-silhouette img {
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0px 10px 15px rgba (0, 0, 0, 0, 6));
}

.panel-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #3e3e3e75;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #ccc;
    white-space: nowrap;
}

.circular-menu {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
}

.floating-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary);
    /* Use o seu Ciano */
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: relative;
    transition: transform 0.3s;
}

.items-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

768px) {
    #welcome-message {
        font-size: 1.5rem;
        margin-top: 30px;
    }

    .personal-silhouette {
        height: 70%;
        right: 10px;
    }

    .main-header {
        min-height: 250px;
        padding: 20px 15px;
    }
}

@media (max-width: 480px) {
    #welcome-message {
        font-size: 1.2rem;
        margin-top: 20px;
    }

    .personal-silhouette {
        height: 60%;
        right: 5px;
    }

    .main-header {
        min-height: 220px;
        padding: 15px 10px;
        /* Diminui a foto do personal */
        right: 5px;
        /* Ajusta a posição lateral */
    }
}