<!DOCTYPE html>
<html lang="pt-br" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}App Treino - Premium{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/switch.css') }}">

    <style id="personalizedStyles"></style>

    {% block extra_css %}{% endblock %}

    {% block protection_script %}{% endblock %}
</head>

<body>
    <!-- Header com personalização -->
    {% include "header.html" %}

    <!-- Conteúdo específico de cada página -->
    {% block content %}{% endblock %}

    <!-- Scripts comuns -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>