
<!DOCTYPE html>
<html lang="pt-br" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Treino - Premium</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <div class="theme-switch-wrapper">
        <label class="theme-switch">
            <input type="checkbox" id="checkbox" onclick="toggleTheme()">
            <div class="slider">
                <span class="icon-sun">☀️</span>
                <span class="icon-moon">🌙</span>
            </div>
        </label>
    </div>

    <div id="test-panel">
        <div class="panel-group">
        <input type="file" id="upload-foto" accept="image/*" class="input-hidden">
        <label for="upload-foto" class="custom-file-upload">
            Selecionar Foto
        </label>
            <button onclick="testarNomes()">Atualizar Foto</button>
        </div>

        <div class="panel-group">
            <input type="text" id="input-aluno" placeholder="Nome do Aluno">
            <input type="text" id="input-personal" placeholder="Nome do Personal">
            <button onclick="testarNomes()">Atualizar Nomes</button>
        </div>
    </div>

    <header class="main-header">
        <div class="header-content">
            <span class="team-name" id="personal-name">
                Team&nbsp;<span id="personal-actual-name">Rocksteer</span>
            </span>
            <h1 id="welcome-message">Olá, <span id="student-name"> Kevin</span>!</h1>
        </div>

        <div class="personal-silhouette">
            <img id="img-personal" src="../static/img/59d6288f3752880e93e16ea2.png" alt="Personal Trainer">
        </div>
    </header>

    <div id="calendar" class="calendar-horizontal"></div>

    <main class="grid-container">
        <button class="card" onclick="window.location.href='{{ url_for('treinos') }}'">
            <div class="icon-red">
                <img src="../static/img/dubell.svg" alt="icon">
            </div>
            <span>Treinos</span>
        </div>
    </button>
        <button class="card" onclick="window.location.href='{{url_for('cardio')}}'">
            <div class="icon-red"><img src="../static/img/cardio.svg" alt="icon"></div>
            <span>Cardio</span>
        </div>
        </button>
        <div class="card" onclick="window.location.href='{{url_for('avaliacoes')}}'">
            <div class="icon-red"><img src="../static/img/avaliação.svg" alt="icon"></div>
            <span>Avaliações</span>
        </div>
        <div class="card" onclick="window.location.href='{{url_for('dieta')}}'">
            <div class="icon-red"><img src="../static/img/dieta.svg" alt="icon"></div>
            <span>Dieta</span>
        </div>
        <div class="card" onclick="window.location.href='{{url_for('arquivos')}}'">
            <div class="icon-red"><img src="../static/img/arquivos.svg" alt="icon"></div>
            <span>Arquivos</span>
        </div>
        <div class="card" onclick="window.location.href='{{url_for('fatura')}}'">
            <div class="icon-red"><img src="../static/img/faturas.svg" alt="icon"></div>
            <span>Fatura</span>
        </div>
    </main>

    <footer class="bottom-nav">
        <div class="nav-item active">
            <div class="nav-icon"><img src="../static/img/home.svg" alt="Início"></div>
            <span>Início</span>
        </div>
        <div class="nav-item">
            <div class="nav-icon"><img src="../static/img/instagram.svg" alt="Instagram"></div>
            <span>Instagram</span>
        </div>
        <div class="nav-item">
            <div class="nav-icon"><img src="../static/img/whatsapp.svg" alt="WhatsApp"></div>
            <span>WhatsApp</span>
        </div>
        <div class="nav-item">
            <div class="nav-icon"><img src="../static/img/menu.svg" alt="Menu"></div>
            <span>Menu</span>
        </div>
    </footer>

    <script src="../static/js/calendar.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>
